/* headers */
#header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  padding: 20px;
  margin: 10px;
}

#header2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
}
/* end of headers */

/* nav bar before logging in */
#nav {
  background: #CB997E;
}

#navBg {
  background: #CB997E;
  list-style-type: none;
  border: 3px solid #CB997E;
  justify-content: center;
  border-radius: 5px;
}

#navContentBg {
  background: #B7B7A4;
  border: 3px solid #F0EFEB;
}

#navContentBg:nth-child(1) {
  border-right: none;
}

#navContentBg:hover {
  background: #A5A58D;
}
/* all common nav bar elements are above this comment */
/* nav bar when logged in*/
#navContentPage, #navContentPageUser, #navContentPageLogout {
    background: #B7B7A4;
    border: 3px solid #F0EFEB;
}

#navContentPage:hover, #navContentPageUser:hover, #navContentPageLogout:hover {
  background: #A5A58D;
}

#navContentPage, #navContentPageUser {
  border-right: none;
}

#navContent {
    color: black;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
/* end of nav bar */

/* body */
#body {
  background: #FFF1E6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
/* end of body */

/* footer */
.fixed-footer {
    position: relative;
    width: 100%;
    padding: 10px;
}
/* end of footer */

/* buttons */
button {
  background: #B7B7A4;
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px;
  width: fit-content;
  margin: auto;
  font-family: inherit;
}

#loginButton, #registerButton, #modifyButton, #deleteButton {
  background: #B7B7A4;
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  width: fit-content;
  font-family: inherit;
}

#submitBtn, #navigationBtn {
  margin: 20px;
}

#addNotification, #faveBtn {
  margin-right: 10px;
}

#removeNotification, #removeFaveBtn {
  margin-left: 10px;
}

button:hover {
  background: #A5A58D;
}
/* end of buttons */

/* user content */
#userContent {
  width: 35%;
  background: #CB997E;
  border-radius: 40px;
  padding: 50px;
  margin: auto;
}

.user-content-section {
  margin: 20px;
  padding: 20px;
}
/* end of user content */

/* utility classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigger-text {
  font-size: 20px;
}

.extra-margin {
  margin-bottom: 20px;
}
/* end of utility classes */

/* links */
#link {
    margin: 20px 0 0 0;
}

#link a {
    color: black;
}

#link a:hover {
    background: #DDBEA9;
    padding: 5px;
    border-radius: 5px;
}
/* end of links */

table td {
    padding: 10px;
    border-top: thin solid;
    border-bottom: thin solid;
}

#timeForm {
    padding: 20px
}

#placeInfo form .col-sm-6 {
    max-width: 1;
}

/* main page */
#textsOfPage, #notifications, #placeInfoGroup, #favourites {
  display: flex;
  flex-wrap: wrap;
  background: #EDDCD2;
  margin: 20px;
  border-radius: 20px;
  min-width: 220px;
}

.mapAndTexts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#radioGroupGroup, #notifications {
  padding: 20px 40px 0 40px;
  text-align: left;
}

#placeInfo {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

#favList {
  max-height: 300px;
  overflow-x: auto;
}

#favList li {
  padding-right: 50px;
  text-align: left;
}
/* end of main page */

/* map */
#map {
  min-width: 420px;
  width: 50%;
  height: 460px;
  margin: 20px;
  border-radius: 20px;
}

#routeColours {
  padding: 0 40px 20px 40px;
}
/* end of map */

/* spans for the route colours */
span.green {
  background: #FFF1E6;
  color: seagreen;
  padding: 5px;
  border-radius: 5px;
}

span.purple {
  background: #FFF1E6;
  color: mediumpurple;
  padding: 5px;
  border-radius: 5px;
}

span.blue {
  background: #FFF1E6;
  color: deepskyblue;
  padding: 5px;
  border-radius: 5px;
}

span.pink {
  background: #FFF1E6;
  color: hotpink;
  padding: 5px;
  border-radius: 5px;
}

span.coral {
  background: #FFF1E6;
  color: coral;
  padding: 5px;
  border-radius: 5px;
}
/* end of spans */


@media (max-width: 900px) {
  #userContent {
    width: 70%;
  }
}
