/* headers */
#header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
  color: #333;
  padding: 20px;
  margin: 10px;
}

.bold-header {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}
/* end of headers */

/* nav bar */
.nav {
  background: #E2E2DF;
  display: flex;
  justify-content: center;
}

.navBg {
  background: #E2E2DF;
  list-style-type: none;
  border: 3px solid #E2E2DF;
}

.navContent {
    color: #333;
    display: block;
    background: #D2D2C6;
    padding: 10px;
    text-decoration: none;
    border: 2px solid #C0C0AF;
    margin-right: 1px;
}

.navContent:hover {
    color: #333;
    background: #C0C0AF;
}

nav ul {
  padding: 0;
  margin: 0;
}
/* end of nav bar */

/* body */
#body, html {
  margin: 0;
  padding: 0;
  background: #FFF1E6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
/* end of body */

/* footer */
.fixed-footer {
    position: relative;
    width: 100%;
    padding: 10px;
}
/* end of footer */


/* main page */
#radioGroupGroup {
  width: 20%;
  padding: 20px;
}

#map {
  width: 70%;
  height: 460px;
  margin: 20px;
  border-radius: 5px;
}

#placeInfoGroup, #favourites {
  width: 50%;
  min-height: 260px;
  padding: 0 10px;
}

#timeForm, #showNotifications {
  width: 50%;
  padding: 40px;
}

#addressInfo {
  min-height: 200px;
}

#timeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notificationContainer {
  min-height: 170px;
}

table td {
  padding: 10px;
  border-top: thin solid;
  border-bottom: thin solid;
}
/* end of main page */

/* buttons */
button {
  background: #D2D2C6;
  color: #333;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  width: 180px;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background: #C0C0AF;
}

.buttonContainer {
  margin-top: 40px;
}

.navButton {
  width: 160px;
}

.navButtonWide {
  width: 200px;
}
/* end of buttons */

/* lists */
li {
  list-style-type: none;
  cursor: pointer;
}
/* end of lists */

/* user content */
.userContent {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.userContentWide {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.user-content-section {
  margin-bottom: 15px;
}

.user-content-section p {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
/* end of user content */

/* img */
.icon {
  margin-left: 10px;
}
/* end of img */

/* input forms */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
/*end of input forms */

/* links */
.backToFrontpage {
  color: #333;
  margin-top: 20px;
}

.backToFrontpage:hover {
  color: #333;
}

/* end of links */

/* utility classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.bigger-text {
  font-size: 20px;
}

.extra-margin-top {
  margin-top: 20px;
}

.extra-margin-bottom {
  margin-bottom: 20px;
}

.extra-padding-top {
  padding-top: 20px;
}

.text-aligned-left {
  text-align: left;
}

.border-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.borderElement {
  border: 1px solid #333;
  margin-bottom: 20px;
}
/* end of utility classes */

@media (max-width: 880px) {
  .flexContainer {
    flex-direction: column;
  }

  .flexContainerRow {
    flex-direction: row;
  }

  #radioGroupGroup {
    width: 50%;
    padding: 20px;
  }

  #map {
    width: 90%;
    margin: 20px;
    border-radius: 5px;
  }

  .bold-header {
    text-align: center;
  }

  #placeInfoGroup {
    width: 80%;
  }

  #favourites {
    width: 60%;
  }

  #removeFaveBtn {
    margin-bottom: 20px;
  }

  #placeInfoGroup  {
    margin-bottom: 20px;
  }

  #addressInfo {
    margin-bottom: 20px;
  }

  #favourites {
    margin-top: 20px;
  }

  #faveBtn {
    margin-bottom: 10px;
  }

  #timeForm, #showNotifications {
    width: 80%;
  }

  #showNotifications {
    padding-bottom: 0px;
  }
}

@media (max-width: 600px) {
  #placeInfoGroup, #favourites {
    width: 80%;
  }

  #timeForm, #showNotifications {
    width: 90%;
  }

}
