/* headers */
#header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  padding: 20px;
  margin: 10px;
}

#header2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
}
/* end of headers */

/* nav bar */
.nav {
  background: #CB997E;
  display: flex;
  justify-content: center;
}

.navBg {
  background: #CB997E;
  list-style-type: none;
  border: 3px solid #CB997E;
}

.navContent {
    color: black;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.navContent:hover {
  color: black;
}
/* end of nav bar */

/* body */
#body {
  background: #FFF1E6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
/* end of body */

/* footer */
.fixed-footer {
    position: relative;
    width: 100%;
    padding: 10px;
}
/* end of footer */

/* buttons */
button {
  background: #B7B7A4;
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px;
  width: fit-content;
  margin: auto;
  font-family: inherit;
}

#loginButton, #registerButton, #modifyButton, #deleteButton {
  background: #B7B7A4;
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  width: fit-content;
  font-family: inherit;
}

#submitBtn, #navigationBtn {
  margin: 20px;
}

#addNotification, #faveBtn {
  margin-right: 10px;
}

#removeNotification, #removeFaveBtn {
  margin-left: 10px;
}

button:hover {
  background: #A5A58D;
}
/* end of buttons */

/* user content */
#userContent {
  width: 35%;
  background: #CB997E;
  border-radius: 40px;
  padding: 50px;
  margin: auto;
}

.user-content-section {
  margin: 20px;
  padding: 20px;
}
/* end of user content */

/* override bootstrap classes */
.container-fluid .nav .list-group .list-group-item {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 1px 0 1px;
  background-color: #B7B7A4;;
  border: 3px solid #F0EFEB;
  border-radius: 0px;
}

.container-fluid .nav .list-group .list-group-item:hover {
  background-color: #A5A58D;
}
/* end of bootstrap classes */

/* utility classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigger-text {
  font-size: 20px;
}

.extra-margin {
  margin-bottom: 20px;
}
/* end of utility classes */

/* links */
#link {
    margin: 20px 0 0 0;
}

#link a {
    color: black;
}

#link a:hover {
    background: #DDBEA9;
    padding: 5px;
}
/* end of links */

table td {
    padding: 10px;
    border-top: thin solid;
    border-bottom: thin solid;
}

#timeForm {
    padding: 20px
}

#placeInfo form .col-sm-6 {
    max-width: 1;
}

/* main page */
#textsOfPage, #notifications, #placeInfoGroup, #favourites {
  display: flex;
  flex-wrap: wrap;
  background: #EDDCD2;
  margin: 20px;
  border-radius: 20px;
  min-width: 220px;
}

.mapAndTexts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#radioGroupGroup, #notifications {
  padding: 20px 40px 0 40px;
  text-align: left;
}

#placeInfo {
  text-align: center;
}

#favList {
  max-height: 300px;
  overflow-x: auto;
}

#favList li {
  padding-right: 50px;
  text-align: left;
}
/* end of main page */

/* map */
#map {
  min-width: 420px;
  width: 50%;
  height: 460px;
  margin: 20px;
  border-radius: 20px;
}
/* end of map */

@media (max-width: 900px) {
  #userContent {
    width: 70%;
  }
}
